.idea
base/.idea
**/.idea
!__init__.py
data/extracted_data/*
data/metadata/*
data/statespace/*
!data/statespace/sorted_states.pkl
DataE/
DataE_old/
DataSmol/
DataNewZip*
AugData*
AugData/*
Readings/
Driver.py
base/generated
scripts/generation/generated
**/__pycache__/*
venv
**/*.pth
**/opt.txt
AugData.tar.gz
base/*.out
sandbox_scrap.py
.DS_Store
scripts/training/experiments
data/old_data
data/DataSample
data/DataSample.tar.tz
old/
DataSample.tar.gz
songs/
