.idea
base/.idea
**/.idea
Data/
DataE/
DataE_old/
DataSmol/
DataNewZip*
Data*
AugData*
AugData/*
Readings/
Driver.py
base/generated
**/__pycache__/*
venv
**/*.pth
**/opt.txt
AugData.tar.gz
base/*.out
.DS_Store